
.beginning {
    /* position: relative; */
    text-align: center;
    background:#111;
    color: #999;
    padding-top: 3rem;
    margin-top: .5rem;
}

.name {
    color: coral;
}

.summary {
    /* position: relative; */
    text-align: center;
    background:#111;
    color: #999;
    padding-top: 2rem;
    margin-top: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}